<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.cdnfonts.com/css/harry-potter" rel="stylesheet">
    <title>Potterdle</title>
</head>
<body>
    <img id="background" src="{{ url_for('static', filename='images/hogwarts.jpg') }}" alt="Hogwarts">
    <section id="Main">
        <h1 class="tracking-in-expand">POTTERDLE</h1>
        <h3>O seu jogo de adivinhação diária de Harry Potter</h3>
        <div id="botoes">
            <button id="personagemBtn">
                <span>Personagem</span>
            </button>
            <button id="feiticoBtn">
                <span>Feitiço</span>
            </button>
        </div>
    </section>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <footer>
        <p>Todos os direitos reservados. Batutas-Inc ©</p>
        <a href="https://github.com/Samtlokomemo/Potterdle">Github</a>
    </footer>
</body>
</html>
